body {
    text-align: center;
    background-color: #011F3F;
}

.instructions {
    text-align: left;
    color: #FEF2BF;
    /* margin: auto 25%; */
    margin-left: 25%;
    font-size: 1.2rem;
    line-height: 2.5;
}

#instruction-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 4rem;
    margin: 3% 0 4%;
    color: #FEF2BF;
}